body {
    margin: 0;
    background-color: #121212;
    font-family: sans-serif ;
    color: #ffffff;
}


.avatar .nome {
    bottom: 0px;
    position: absolute;
    background-color: #000000cc;
    width: 100%;
}

.avatar .nome h1 {
    padding: 10px;
}

.avatar {
   position: relative; 
}

.detalhe-deus {
    margin: 10px;
}

#conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#conteudo, #principal {
    margin-top: 80px;
    position: absolute;
}

.topo {
    width: 100%;
    height: 80px;
    background-color: #17203a;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 200px;
    position: absolute;
}

.logo img{
    width: 200px;
    padding:15px ;
}

.detalhe-logo {
    right: 40px;
}

.search {

    position: absolute;
    right: 0
}
.search img{
    width: 50px;
    padding:15px;
}

.back {

    position: absolute;
    left: 0
}
.back img{
    width: 50px;
    padding:15px;
}


.card-deus {
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.3s;
    width: 300px;
    background-color: #1e1e1e;
    margin: 16px;
    height: 630px;
  }

  .avatar-background {
      height: 425px;

      object-fit: cover;
      width: 100%;
  }
  
  .card-deus:hover {
    box-shadow: 0 8px 16px 0 #00000033;
  }

  .btn-padrao {
      position: relative;
  }

  .btn-padrao a {
      color: #ff9800;
      font-size: 16px;
      text-decoration: none;
      padding: 10px;
      margin-right: 10px;
      border-radius: 20px;
      top: 0px;
      left: -8px;
      font-weight: bold;
      position: absolute;
  }

  button {
    background-color: #ff9800;
    color: #ffffff;
    height: 30px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
  }

  button:hover {
    background-color: #ff980033;
  }
  

  #compartilhar a {
      right: 0;
      left: auto;
  }

  .btn-padrao a:hover {
    background-color: #ff980033;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: fixed;
    left: calc(50% - 30px);
    top: 50%;
    z-index: 1;
    display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* detalhes */

.banner {
    height: 500px;
    position: relative;
}


.modal {
    position: fixed;
    height: 600px;
    width: 700px;
    background-color: #000000;
    z-index: 1;
    left: calc(50% - 350px);
    top: 20%;
    display: none;
}

.fechar {
    margin-top: 50px;
}
.fechar a {
    right: 0;
    left: auto;
    top: 0;
    position: absolute;
}

.banner-img {
    width: 100%;
    height: 100%;
    background-size:cover;

}
  
.banner .nome {
    bottom: 0px;
    position: absolute;
    background-color: #000000cc;
    width: 100%;
    text-align: center;
}

.nome h1, h4 {
    margin: 6px;
}

.card-detalhe {
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.3s;
    background-color: #1e1e1e;
    margin: 16px 180px;
    padding: 16px;
    height: 100%;
  }

  .card-detalhe h1, p {
      text-align: center;
  }

  .flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap
  }

  .embed-responsive {
    text-align: center;
  }

  .embed-responsive iframe {
    width: 50%;
    height: 400px;
    margin: 24px;
  }

  .conteudo-detalhe {
      /* color: #ffffff; */
      padding: 0 160px;
  }

  /* table {
      color: #ffffff;
  } */

  table, th, td {
      border-bottom: 1px solid #ffffff33;
      border-spacing: 0px
  }

  td {
      font-size: 14px;
      padding: 0px 10px;
  }

  .text-left {
    text-align: left;
    padding: 10px;
  }

  .btn-video {
      background-color: #1461ee;
      color: #ffffff;
      border-radius: 10px;
      border: 0px;
      width: 150px;
      height: 40px;
  }

  .btn-video:hover {
      background-color: #0e1dee;
      transition: .2s;
  }

  .descricao-habilidade {
      width: 400px;
  }

  .destaque-habilidade {
    border: solid 3px #ffffff;
    border-style: dashed;
    font-size: 21px;
    padding: 9px 0;
}

.separador-habilidade {
    border: groove #ae51d4;
    margin: 0px 30px 30px;
}

.ambiente-dev {
    width: 225px;
    height: 20px;
    background-color: #ff0000;
    transform: rotate(310deg);
    position: absolute;
    margin-top: 34px;
    margin-left: -75px;
    text-align: -webkit-center;
    color: #fff;
    display: none;
    z-index: 1;
}

.modal-pesquisa {
    width: 300px;
    background: #000000;
    height: 370px;
    position: fixed;
    z-index: 1;
    left: calc(50% - 150px);
    top: -400px;
    text-align: center;
    transition: .3s;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    transition: .3s;;
}


.modal-pesquisa select, input {
    width: 80%;
    margin: 10px 10%;
    height: 35px;
    background: #121212;
    color: white;
    border: 0;
}

.modal-pesquisa p {
    margin: 8px 0 0 0;
}



  @media only screen and (max-width: 1024px) {
    .banner-img {
        background-position: center center;
    }

    .card-detalhe {
        margin: 16px 32px;
    }
    .conteudo-detalhe {
        padding: 16px 64px;
    }

    .modal {
        height: 400px;
        width: 530px;
        left: calc(50% - 275px);
        top: 20%;
    }

    .modal iframe {
        width: 100%;
        height: 75%;
    }

  }

  @media only screen and (max-width: 430px) {
    .card-detalhe.flex {
        flex-direction: column;
    }

    .card-detalhe {
        margin: 16px 16px;
    }

    .conteudo-detalhe {
        padding: 16px 16px;
    }

    .embed-responsive iframe {
        width: 100%;
        height: 250px;
        margin: 0;
    }

    .modal {
        height: 360px;
        width: 350px;
        left: calc(50% - 175px);
        top: 20%;
    }

    .fechar {
        margin-top: 0px;
    }

    .ambiente-dev {
        width: 159px;
        margin-left: -42px;
    }

  }
  